.main-description .title {
  margin: 0;
  margin-top: 12px;
}

.main-description .description {
  font-family: "PT Serif", serif;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.main-text {
  margin-bottom: 15px;
  color: var(--default-light);
}
