.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 100px;
}

.preview-news {
  text-decoration: none;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 32px;
  font-weight: 400;
  margin-bottom: 48px;
}

.preview-news .image-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  box-shadow: inset 0 0 2px 0 var(--news-color);
}

.preview-news .preview-title {
  color: var(--default-light);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  max-height: 46px;
  overflow: hidden;
  font-weight: 400;
}

.main-description {
  color: var(--default-light-75);
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.preview-main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80px;
}

.short-description {
  color: var(--default-light-75);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  max-height: 42px;
  overflow: hidden;
}

.text-wrapper {
  position: relative;
}

.text-wrapper::after {
  position: absolute;
  content: "";
  bottom: -24px;
  height: 1px;
  width: 100%;
  background-color: var(--divider);
}
