:root {
  --profile-color: rgba(58, 167, 109, 1);
  --quests-color: rgba(255, 55, 95, 1);
  --login-color: rgba(39, 110, 241, 1);
  --news-color: rgba(0, 208, 255, 1);
  --divider: rgba(40, 40, 44, 1);
  --overlay: rgba(0, 0, 0, 0.5);
  --bottomsheet-light: rgba(244, 244, 246, 1);
  // LIGHT
  --default-light: rgba(255, 255, 255, 1);
  --default-light-08: rgba(255, 255, 255, 0.08);
  --default-light-12: rgba(255, 255, 255, 0.12);
  --default-light-25: rgba(255, 255, 255, 0.25);
  --default-light-50: rgba(255, 255, 255, 0.5);
  --default-light-75: rgba(255, 255, 255, 0.75);
  // DARK
  --default-dark: rgba(16, 16, 16, 1);
  --default-dark-25: rgba(16, 16, 16, 0.25);
  --default-dark-50: rgba(16, 16, 16, 0.5);
  --default-dark-75: rgba(16, 16, 16, 0.75);
}
