.quest-page .wrapper {
  padding-top: 0;
}

.quest-page .main-text {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 640px) {
  .quest-page .notification {
    margin-bottom: 32px;
  }
}
