.notification {
  border: 1px solid var(--quests-color);
  min-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 640px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  color: var(--quests-color);
  display: flex;
  align-items: center;
  font-weight: 400;
  justify-content: space-between;
  margin-bottom: 16px;

  &__button {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
  }

  &__text {
    margin-right: 16px;
  }

  &__link {
    background-color: var(--quests-color);
    color: var(--default-dark);
    border-radius: 4px;
    height: 24px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-right: 8px;
    white-space: nowrap;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }
}

// NEWS

.news .notification {
  border-color: var(--news-color);
  color: var(--news-color);
  margin-bottom: 30px;

  &__link {
    background-color: var(--news-color);
  }
}

// PROFILE
.profile .notification-wrapper {
  padding-top: 8px;
}

.profile .notification {
  border-color: var(--profile-color);
  color: var(--profile-color);

  &__link {
    background-color: var(--profile-color);
  }
}

@media (max-width: 640px) {
  .notification {
    padding: 12px;
    margin: 0 8px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 17px;

    &__link {
      font-size: 14px;
      line-height: 20px;
    }

    &__wrapper {
      margin-top: 8px;
      width: 100%;
      justify-content: space-between;
    }

    &__text {
      margin-right: 0;
    }
  }
}
